<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gmail.genarion.eventday">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".logoActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".lista_aconteciActivity"
            android:label="@string/title_activity_lista_aconteci"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AnadirAcontecimientoActivity"
            android:label="@string/title_activity_anadir_acontecimiento"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".acerca_de"
            android:label="@string/title_activity_acerca_de"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".mostrar_acontecimiento"
            android:label="@string/title_activity_mostrar_acontecimiento"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".EventosActivity" />
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings"></activity>
    </application>

</manifest>